* {
    box-sizing: border-box;
}

/* Skip link */
.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    background-color: #000066;
    color: white;
}

.skip:focus {
    position: absolute;
    left: auto;
    top: auto;
    width: auto;
    height: auto;
    padding: 8px;
}

body {
    background-color: #e6edf5;
    font-family: "Calibri", "Arial", serif;
    font-size: 18px;
    margin: 0px;
}


/* These bits are for the grid-template-areas in #wrapper */
header {
    grid-area: header;
}

nav {
    grid-area: nav;
    padding: 0px;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}




#wrapper {
    padding: 0px 16px;
    min-height: 100vh;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 60px auto auto auto;
    background-color: white;
    gap: 16px;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}


/* Form */
form label {
  align-self: center;
  font-weight: bold;
}
form input {
  padding: 0.5rem;
  border: 1px solid #8b8b8b;
  border-radius: 4px;
}

#flavour-form {
  display: grid;
  grid-template-columns: 56px 80px; /* 1 column for labels, 1 for inputs */
  gap: 24px;
}

#order-form {
    max-width:600px;
    display: grid;
    grid-template-columns: 100px 1fr; /* 1 column for labels, 1 for inputs */
    gap: 24px;
}


#results {
    padding-top:24px;
}

.error-text {
    color:rgb(173, 0, 0);
}

.button {
    padding: 12px 80px;
    font-size:16px;
    border-radius: 8px;
    border:0px;
    margin: 24px 0px;
}

.button-primary:hover {
    background-color: #0d0d9c;
    color:white;
}

.button-primary:focus {
    outline: 2px solid black;
}

.button-primary {
    background-color: #000066;
    color:white;
}

.button-secondary {
    background-color: aquamarine;

}

.centre-button {
    display:flex;
    justify-content:center;
}

    #form-and-results
    {
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        background-color: white;
        gap: 40px;
    }

#pastille-roll {
    background-image: url("images/tinfoil.webp");
}

#section-2 {
    display:none;
}

/* Tablet breakpoint */

@media (min-width: 450px) {
    body {
        margin: 0px 24px;
        max-width: 1142px;
        margin-left: auto;
        margin-right: auto;
    }

    #wrapper {
        padding: 0px 24px;
        grid-template-rows: 96px auto auto auto;

    }

    #form-and-results
    {
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        background-color: white;
        gap: 40px;

    }

}



/* Desktop breakpoint */
@media (min-width: 840px) {
    body {
        margin: 0px 24px;
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
    }

    #wrapper {
        margin: 0px 24px;
        display: grid;
        grid-template-rows: 160px auto auto;
        grid-template-columns: 140px auto;
        background-color: white;
        gap: 24px;
        grid-template-areas:
            "header header"
            "nav main"
            "footer footer";
    }
}